* {
    margin: 0px;
    padding: 0px;
}
#container {
    border: 3px solid yellow;
    height:500px;
    width: 90%;
    display: flex;

    
}
#container div {
    border: 3px dotted violet;
    height: 10px;
    width: 50px;
}