body {
    margin: 0; 
    padding: 0;
}
.grid-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    width: 100%;
    height: 60px;
    padding: 0 20px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
}
.grid-container h3 {
    margin: 0;
}
header {
     border-bottom:1px rgb(21, 18, 18);
}

.nav {
    display: flex;
    gap: 1em; /* space between links */
}
.nav a {
    text-decoration: none;
    color: #000;
    margin: 0 10px;
}
.container-section1 {
    height: 859px;
    background-color: #FFFFFF;
}
#btn {
    border: 0;
    padding: 5px 20px;
    font-size: 16px;
    font-family: Ambit, sans-serif;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}
#btn:nth-child(even) {
    background-color: #AEFF6E;
}